/* style.css */
body {
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    background-image: url('https://github.com/Auhrion/hyperscope/blob/main/images/background.jpg?raw=true'); /* Replace with the actual image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Add more CSS rules for your website's styling */
